@model Pedidos
@{
    ViewBag.Title = "Novo pedido";
    ViewBag.NomePagina = "Novo pedido";
}

<head>   
    <link rel="stylesheet" href="~/css/pedidos/create.css" />
</head>

@Html.AntiForgeryToken()
<div class="produtos">
    <div class="msg1">
        <h1 id="msg1">Novo pedido</h1>
        <hr>
    </div>
    <div class="tabela-titulo">
        <form asp-controller="Pedidos" asp-action="Create" method="POST">
            <div class="form-group">
                <label for="NomeCliente">Nome do cliente ou mesa</label>
                <input type="text" name="NomeCliente" class="form-control" asp-for="NomeCliente"/>
                <span asp-validation-for="NomeCliente"></span>
            </div>
            <div class="form-group">
                <label for="TelCliente">Telefone do cliente</label>
                <input type="text" name="TelCliente" class="form-control" asp-for="TelCliente" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"/>
            </div>

            <div class="form-group">
                <label for="TipoPedido">Pedido presencial ou online?</label>
                <select asp-for="TipoPedido" class="form-control">
                    <option value="0">Presencial</option>
                    <option value="1">Online</option>
                </select>
            </div>

            <div class="botoes">
                <div class="salvar">
                    <button class="btn btn-primary" id="salvar" onclick="SalvarPedido();">Salvar</button>
                </div>
                <div class="voltar">
                    <a href="/Pedidos/Index" class="btn btn-primary" id="voltar">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="divItens" style="display:none;">
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="~/Scripts/Pedido.js"></script>
}
