@model Pedidos

<h2>Carrinho</h2>

<form asp-controller="Carrinho" asp-action="Finalizar" method="post">
    @if (Model.Itens.Count > 0)
    {
        <table class="table table-hover">
            @foreach (var item in Model.Itens)
            {
                <tr>
                    <td>@item.Produto.Nome</td>
                    <td>@item.Qtde</td>
                    <td>@item.ValorUnitario</td>
                    <td>@item.ValorTotal</td>
                </tr>
            }
        </table>

        <button class="brn btn-primary">Finalizar Compra</button>
    }
    else 
    {
        <span>Seu carrinho está vazio.</span>
    }
</form>