@model GastosBrutos
@{
    ViewBag.Title = "Novo gasto";

    DateTime hoje = DateTime.Now;
    ViewBag.Atual = hoje;
    ViewBag.Hoje = "";
}

<head>
    <link rel="stylesheet" href="~/css/gastosbrutos/create.css">
</head>

<body>
    <div class="tabela-titulo">
        <form asp-controller="GastosBrutos" asp-action="Create" method="POST">
            <div class="form-group">
                <label for="valor">Nome do gasto*</label>
                <input type="text" name="nomegasto" class="form-control" asp-for="NomeGasto" />
                <span asp-validation-for="NomeGasto"></span>
            </div>
            <div class="form-group">
                <label for="valor">Valor gasto*</label>
                <input type="text" name="valor" class="form-control" asp-for="Valor" />
                <span asp-validation-for="Valor"></span>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="DataVencimento">Data de Vencimento*</label>
                    <input type="date" name="DataVencimento" id="DataVencimento" class="form-control" asp-for="DataVencimento" value="@ViewBag.DataAtual" />
                    <span asp-validation-for="DataVencimento"></span>
                </div>

                <div class="col col2">
                    <label for="DataPagamento">Data de Pagamento</label>
                    <input type="date" name="DataPagamento" id="DataPagamento" class="form-control" asp-for="DataPagamento" value="@ViewBag.DataAtual" />
                    <span asp-validation-for="DataPagamento"></span>
                </div>
            </div>

            <div class="botoes">
                <div class="salvar">
                    <button class="btn btn-primary" id="salvar">Salvar</button>
                </div>
                <div class="voltar">
                    <a href="/GastosBrutos/Index" class="btn btn-primary" id="voltar">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</body>
