<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body class="loginback">
    <div class="container">
        <div class="loginbox">
            <img src="~/img/SushiJuLogo.png" alt="SushiJuLogo">
        </div>   
        <div class="textlogin">
            <h2>Sistema Administrativo Gastronômico</h2>
        </div>

        <a href="#" class="pE">Esqueceu a senha?</a>

        <form action="">
            <p class="pU">Usuário</p>
            <input type="text" id="login" name="login-senha" placeholder="Digite o usuário">
            <p class="pS">Senha</p>
            <input type="text" id="senha" name="login-senha" placeholder="Digite a senha">
            <a href="menuPrincipal.html"><button type="submit" class="buttonlogin">Entrar
            </a>
        </form>   
    </div>
</body>
</html>
