.tabela-titulo {
    margin-top: 2rem;
    margin-left: 6rem;
}

.tabela-titulo label{
    color: black;
    margin-left: 4rem;
    margin-top: -1rem;
    font-size: 24px;
}

.form-control{
    margin-top: -0.5rem;
    max-width: 60rem;
    height: 3rem;
    border: rgb(156, 1, 1) 1px solid;
    margin-left: 4rem;
    font-size: 22px;
}

.form-row .form-control{
    width: 14rem;
}

.form-row .col2{
    margin-left: -45rem;
}

.botoes{
    margin-top: 1rem;
}

.salvar{
    margin-left: 12rem;
}

#salvar{
    background-color: green;
    border: green 1px solid;
    height: 3rem;
    width: 6rem;
    font-size: 22px;
}

.salvar{
    margin-left: 32rem;
}

#salvar{
    background-color: green;
    border: green 1px solid;
    height: 3rem;
    width: 6rem;
    font-size: 22px;
}

.voltar{
    margin-top: -3rem;
    margin-left: 24rem;
}

#voltar{
    background-color: red;
    border: red 1px solid;
    height: 3rem;
    width: 6rem;
    font-size: 22px;
}