.layout-img-background{
	margin: 0rem;
	padding: 0rem;
	background: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}

.layout{	
	margin: 0rem;
	padding: 0rem;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Roboto", Helvetica, sans-serif;
	color: #FFFFFF;
}
.left-box {
	width: 12rem;
	height: 35rem;
	top: 5%;
	left: 3%;
	margin-left: 0rem;
	margin-top: 0rem;
	position: absolute;
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 0.1px solid black;
}

.LogoSushiJu{
	margin: 0rem;
	width: 11.9rem;
	height: 12rem;

}

#Menu{
	margin-top: -0.3rem;
	color: white;
	font-weight: bold;
	border-right: 6rem;
	border-left: 4.8rem;
	border-style: solid;
	border-color: rgb(61, 61, 61);
	background-color: rgb(61, 61, 61);
	font-family: arial;
}

.botoes-esquerda{
	margin-top: -1.5rem;
}

.botoes-esquerda hr{
	margin-top: -0.1rem;
}

.fazer-ped a{
	margin-left: 3rem;
	cursor: pointer;
	text-decoration: none;
	color: black;
	

}


.ped-and a{
	margin-left: 1.5rem;

	cursor: pointer;
	text-decoration: none;
	color: black;
}

.ped-and{
	margin-top: -0.5rem;
}

.fun-adm a{
	margin-left: 1.3rem;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.fun-adm{
	margin-top: -0.5rem;
}

.icons {
	margin-top: -4.2rem;
}

#fzr-ped-icon {
	margin-top: 0.1rem;
	height: 1rem;
	width: 1.5rem;
}

#ped-aco-icon {
	margin-top: -0.2rem;
	height: 1rem;
	width: 1.5rem;	
}

#fun-adm-icon {
	height: 1rem;
	width: 1.5rem;
}

#linha{
	margin-top: 16rem;
}

#suport-icon {
	margin-left: 3.5rem;
	background: url('../img/LayoutSuporteIcon.svg');
	background-position:center;
	background-size:cover;
	height: 0.8rem;
	width: 1.1rem;
}

#suporte {
	margin-top: -1.5rem;
	margin-left: 1rem;
	font-size: 12px;
	text-decoration: none;
	color: grey;
}



.top-box {
	top: 7%;
	left: 17.10%;
	background: white;
	position: absolute;
	width: 69rem;
	height: 9rem;
	border: 0.1px solid black;
}

#top-caixa-cinza {
	height: 1.2rem;
	
	background-image: linear-gradient(to bottom, rgb(83, 83, 83), rgb(36, 36, 36));

}

#sair {
	margin-top: 1.5rem;
	line-height: 0.4rem;
	margin-right: 1rem;
	width: 10rem;
	float: right;
	text-align: right;
}

#sair a{
	text-align: right;
	text-decoration: none;
}

#sair p{
	text-align: right;
	color:black;
}

.admin-icon {
	margin-top: 1.5rem;
	margin-right: 1rem;
	float: right;
	height: 3.5rem;
	width: 3.5rem;
}

#bot-caixa-cinza {
	height: 1.2rem;
	margin-top: 6.6rem;
	
	background-image: linear-gradient(to bottom, rgb(83, 83, 83), rgb(36, 36, 36));

}

.back-box{
	top: 30.4%;
	left: 17.20%;
	background: rgb(216, 216, 216);
	height: 24rem;
	width: 69rem;
	position: absolute;
	border-right: 0.1px solid black;
	border-bottom: 0.1px solid black;
}

#caixa-verm {
	height: 1.2rem;
	background-image: linear-gradient(to bottom, rgb(207, 3, 3), rgb(138, 0, 0));

}

.conteudo{
	background: white;
	height: 20rem;
	width: 63rem;
	border: rgb(182, 0, 0) solid;
	border-radius: 5px;
	margin-top: 1.2rem;
	margin-left: 2.8rem;
	
}