.layout-img-background{
	margin: 0rem;
	padding: 0rem;
	background: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to bottom right, rgb(189, 15, 15), rgb(236, 111, 39), rgb(236, 206, 39));	
}

.layout{	
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Roboto", Helvetica, sans-serif;
	color: #FFFFFF;
	height: 48rem;
	width: 100rem;
	margin-left: -42rem;
	margin-top: -16.5rem;
	top: 35%;
	left: 45%;
	position:absolute;
}

.top-box {
	margin-top: 0.5rem;
	top: 7%;
	left: 17.10%;
	background: white;
	width: 99rem;
	height: 10rem;
	border: 0.1px solid black;
}

#top-caixa-cinza {
	height: 1.7rem;
	background-image: linear-gradient(to bottom, rgb(83, 83, 83), rgb(36, 36, 36));
}

#sair {
	margin-top: 1.3rem;
	line-height: 0.4rem;
	margin-right: 1rem;
	width: 10rem;
	float: right;
	text-align: right;
	
}

#sair a{
	text-align: right;
	text-decoration: none;
	font-size: 18px;
}

#sair p{
	text-align: right;
	color:black;
	font-size: 21px;
}

.admin-icon {
	margin-top: 0.9rem;
	margin-right: 1rem;
	float: right;
	height: 4.5rem;
	width: 4.5rem;
}

#bot-caixa-cinza {
	height: 1.7rem;
	margin-top: 6.55rem;
	background-image: linear-gradient(to bottom, rgb(83, 83, 83), rgb(36, 36, 36));
}

.back-box{
	top: 30.4%;
	left: 17.20%;
	background: rgb(216, 216, 216);
	height: 37rem;
	width: 99rem;
	border-right: 0.1px solid black;
	border-bottom: 0.1px solid black;
	border-left: 0.1px solid black;
}

#caixa-verm {
	height: 1.7rem;
	background-image: linear-gradient(to bottom, rgb(207, 3, 3), rgb(138, 0, 0));
}

#caixa-verm img{
	margin-right: 2rem;
	margin-top: 0.05rem;
	float: right;
	height: 1.5rem;
}

#caixa-verm span{
	margin-right: -2rem;
}

.conteudo{
	padding: 0;
	background: white;
	height: 33rem;
	width: 95rem;
	border: rgb(221, 2, 2) solid;
	border-radius: 5px;
	margin-top: 1rem;
	margin-left: 2rem;
	overflow-y: auto;
}

.conteudo::-webkit-scrollbar{
	width: 1rem;
}

.conteudo::-webkit-scrollbar-track {
	background: rgb(255, 150, 150);        
}
  
.conteudo::-webkit-scrollbar-thumb {
	background-color: rgb(255, 0, 0);    
	border-radius: 20px;       
}