#img-background{ 
  background-image: url('../img/LoginBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #FFFFFF;
}


#campos-login{
	position: absolute;
	/*border:1px solid #707070;*/
	width: 54rem;
	height: 27rem;
	background-image: linear-gradient(to bottom right, rgb(141, 141, 141), rgb(112, 112, 112), rgb(51, 51, 51));
	top:36%;
	left:34%;
	margin-left: -14rem;
	margin-top: -7rem;
	border-radius: 4px;
  /* border: 1px solid red; */
}

.sushi-logo{
	float: right;
}

.sushi-logo img{
	height: 27rem;
}

.texto-top{
	margin-left: 1rem;
}

#logo-tela-login{
	/* background: url('../img/logoSag.png'); */
	padding-left: 2.5rem;
	margin-top: 1rem;
	margin-left: 3rem;
}

#logo-tela-login p{
	text-align: center;

}

#formulario-login{
	padding: 0.3rem;
	/*border:1px solid red;*/
	width: 18rem;
	margin-left: 4rem;
	margin-top: 0;
}

#formulario-login label{
	display:block;
	margin-top: 2px;
	font-size: 22px; 

}

#formulario-login input[type="text"], #formulario-login input[type="password"]{
	border:1px solid #D91717;
	width: 20rem;
	height: 2.5rem;
	/* height: 1.3rem; */
	margin-top: 0;
}

#formulario-login a:link, #formulario-login a:visited{
	font-size: 0.8rem;
	color: white;
	
}

#botao-entrar{
	display: block;
	width: 6.5rem;
	height: 3.5rem;
	background-image: linear-gradient(to top right, rgb(133, 21, 21), red); 
	color: white;
	font-weight: bold;
	border: 1px solid white;
	padding: 0.3rem;
	font-size: 0.8em;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 1rem;
	cursor: pointer;
	text-decoration: none;
  	font-size: 22px;
 	text-align: center;
}
#botao-pos{
	margin-top: -1rem;
}
#botao-entrar input[type="button"]:hover{
	background-color: #036EC5;
	text-decoration: none;
}

.alert-message{
  width: 17.5rem; 
  height: 2.5rem; 
  text-align: center;
  margin: 0;
}

.validacao{
	color:rgb(255, 128, 0);
}

.icons{
	margin-top: 0rem;
}

#logo-sag{
	width: 6rem;
	margin-left: 0rem;
	position: absolute;
}

#user-icon{
	width: 3rem;
	margin-top: 8.3rem;
	margin-left: 0.7rem;
	position: fixed;
}

#senha-icon{
	width: 3rem;
	margin-top: 13.5rem;
	margin-left: 0.7rem;
	position: fixed;
}