.loginback {
  margin: 0rem;
  padding: 0rem;    
  background: url('../img/LoginBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  color: white;
}


.loginbox img{
  width: 18.75rem;
  height: 15.625rem;
  margin: 10.625rem 0rem 0rem 23.125rem;
  border-left: grey;
  border-left-width: 18.75rem;
  border-left-style:  solid;
  /* position: absolute; */
}

#login{
  margin: 15.625rem 0rem 0rem 26.5625rem; 
  /* position: absolute;  */
  border: 0.0625rem;
  border-color: red;
  border-style: solid;
  height: 1.5625rem;
  width: 12.5rem;
}

#senha{
  margin: 19.375rem 0rem 0rem 26.5625rem; 
  /* position: absolute;  */
  border: 0.0625rem;
  border-color: red;
  border-style: solid;
  height: 1.5625rem;
  width: 12.5rem;
}

.buttonlogin{
  margin: 23.125rem 0rem 0rem 30rem;
  height: 1.875rem;
  width: 5rem;
  text-align: center;
  background-image: linear-gradient(to top right, rgb(133, 21, 21), red);
  font-weight: bold;   
  color: white;
  border: none;
  border-radius: 0.5rem;
  border-width: 0.0625rem;
}

.textlogin{
  margin: 10.3125rem 0rem 0rem 26.5625rem;
  /* position: absolute; */
  font-size: 0.75rem;
  width: 13.75rem;
}

.container-form{
  border-color: red;
  border-style: solid;
  width: 40rem;
  height: 25rem;
  background-color: #656565;
  margin-top: 13.5%;
  margin-left: 29%;
}

.labels-input{
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.imgLogo{
  width: 18rem;
}

/*MENU PRINCIPAL*/


/* body {
  margin: 0rem;
  padding: 0rem;    
  background-image: url(img/DefaultBackground.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: sans-serif;
} */

