@model Funcionarios
@{
    ViewBag.Title = "Teste Funcionarios";
}
<head>
    <link rel="stylesheet" href="~/css/funcionarios.css">
</head>

<div class="logo">
    <img src="~/img/LogoSag.png" alt="logo sag">
</div>

<table class="tabela">
    @* <tr class="titulo">
        <th>Codigo usuario</th>
        <th>Funcao</th>
        <th>Admin</th>
    </tr> *@
    <tr>
        <td>@Model.CodUsuario</td>
        <td>@Model.Funcao</td>
        <td>@Model.Admintexto</td>
    </tr>
    @* @if (@Model.Admin==1){<button disabled="disabled">1</button>} *@
</table>

