.pedidos p{
    color: black;
    font-weight: bolder;

}

.pedido-tudo {
    margin-left: 1.5rem;
    width: 75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.pedido-top{
    font-size: 20px;
    background-color: rgb(255, 95, 95);
    height: 4rem;
}

.p1{
    margin-left: 0.5rem;
    width: 1.8rem;
    color: red;
    font-weight: 900;
    font-size: 25px;
}

.p2 {
    float: right;
    margin-top: -3.2rem;
    margin-right: 1.5rem;
}

.p3 {
    float: right;
    margin-top: -2rem;
    margin-right: 1.5rem;
}

.pedido-item{
    height: 10rem;
    width: 19.7rem;
    background: rgb(196, 196, 196);
}

.pedido-item p{
    float: right;
    margin-top: 7.7rem;
    margin-right: -10rem;
    font-size: 25px;
}

.pedido-quadrado{
    margin-top: 1rem;
    margin-left: 3.7rem;
    width: 20rem;
    height: 20rem;
    border: 2px rgb(170, 0, 0) solid;
    color: black;
    font-size: 16px;
}

.botoes-cad{
    border: none;
    margin-left: -1.2rem;
    margin-top: 1rem;
    width: 20rem;

}

#excluir{
    background-image: linear-gradient(to top left, rgba(255, 16, 16, 0.801), rgb(173, 0, 0));
    border-color: linear-gradient(to top left, rgb(255, 17, 17), rgb(170, 0, 0));
    border: 1px solid;
    height: 2.5rem;
    width: 6rem;
    font-size: 18px;
    float: right;
}

#excluir:hover{
    height: 2.7rem;
    width: 6.2rem;
    font-size: 20px;
}

#item{
    background-image: linear-gradient(to top left, rgba(0, 52, 223, 0.801), rgb(0, 89, 173));
    border-color: linear-gradient(to top left, rgb(0, 32, 216), rgb(0, 60, 170));
    border: 1px solid;
    height: 2.5rem;
    width: 6rem;
    font-size: 18px;
    float: right;
}

#item:hover{
    height: 2.7rem;
    width: 6.2rem;
    font-size: 20px;
}

#finalizar{
    background-image: linear-gradient(to top left, rgba(0, 223, 0, 0.801), rgb(0, 173, 0));
    border-color: linear-gradient(to top left, rgb(0, 216, 0), rgb(0, 170, 0));
    border: 1px solid;
    height: 2.5rem;
    width: 6rem;
    font-size: 18px;
    float: right;
}

#finalizar:hover{
    height: 2.7rem;
    width: 6.2rem;
    font-size: 20px;
}

.adicionar{
    margin-left: 1.8rem;
    margin-top: 0.5rem;
}

#adicionarB{
    background-image: linear-gradient(to top left, rgba(0, 223, 0, 0.801), rgb(0, 173, 0));
    border-color: linear-gradient(to top left, rgb(0, 216, 0), rgb(0, 170, 0));
    border: 1px solid;
    height: 3rem;
    width: 9rem;
    font-size: 23px;   
}

#adicionarB:hover{
    height: 3.2rem;
    width: 9.2rem;
    font-size: 24px;   
}



.tabela-info-td{
    color: black;
    font-size: 16px;
}

.msg1{
    margin-top: 0.5rem;
    margin-left: 1.7rem;
}

#msg1{
    color: rgb(2, 2, 2);
    font-weight: bolder;
    font-size: 48px;
}

.msg2{
    margin-top: 0.5rem;
    margin-left: 1.7rem;
}

#msg2{
    color: rgb(165, 0, 0); 
    font-size: 24px;
    text-decoration: underline;
}