.pedidos p{
    color: black;
    font-weight: bolder;

}

.pedido-tudo {
    margin-left: 1.5rem;
    width: 75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pedido-top{
    font-size: 20px;
}

.pedido-item{
    height: 10rem;
    width: 19.7rem;
    background: rgb(196, 196, 196);
}

.pedido-item p{
    float: right;
    margin-top: 8.7rem;
}

.pedido-quadrado{
    margin-top: 1rem;
    margin-left: 3.7rem;
    width: 20rem;
    height: 20rem;
    border: 2px rgb(170, 0, 0) solid;
    color: black;
    font-size: 16px;
}

.botoes-cad{
    border: none;
    margin-left: 1rem;
}

#finalizar{
    background-image: linear-gradient(to top left, rgba(0, 223, 0, 0.801), rgb(0, 173, 0));
    border-color: linear-gradient(to top left, rgb(0, 216, 0), rgb(0, 170, 0));
    border: 1px solid;
    height: 2.5rem;
    width: 6rem;
    font-size: 18px;
}

#finalizar:hover{
    height: 2.7rem;
    width: 6.2rem;
    font-size: 20px;
}

#visualizar{
    background-color: rgb(34, 93, 255);
    border: rgb(34, 93, 255) 1px solid;
    height: 2.5rem;
    width: 9rem;
    font-size: 16px;
}

#visualizar:hover{
    height: 2.7rem;
    width: 9.2rem;
    font-size: 17px;
}

.adicionar{
    margin-left: 1.8rem;
    margin-top: 0.5rem;
}

#adicionarB{
    background-image: linear-gradient(to top left, rgba(0, 223, 0, 0.801), rgb(0, 173, 0));
    border-color: linear-gradient(to top left, rgb(0, 216, 0), rgb(0, 170, 0));
    border: 1px solid;
    height: 3rem;
    width: 9rem;
    font-size: 23px;   
}

#adicionarB:hover{
    height: 3.2rem;
    width: 9.2rem;
    font-size: 24px;   
}

.tabela-info-td{
    color: black;
    font-size: 16px;
}

.msg1{
    margin-top: 0.5rem;
    margin-left: 1.7rem;
}

#msg1{
    color: rgb(2, 2, 2);
    font-weight: bolder;
    font-size: 48px;
}

.msg2{
    margin-top: 0.5rem;
    margin-left: 1.7rem;
}

#msg2{
    color: rgb(165, 0, 0); 
    font-size: 24px;
    text-decoration: underline;
}