.pedidos p{
    color: black;
    font-weight: bolder;

}

.tabela{
    margin-left: 1.7rem;
}

.tabela th, td{
    min-width: 8rem;
    height: 3.2rem;
    border: rgb(177, 0, 0) solid 1px;
    text-align: center;
}

.tabela th{
    color: white;
    font-weight: bolder;
    background-color: rgb(179, 0, 0);
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.botoes-cad{
    border: none;
    margin-left: 1rem;
}

#finalizar{
    background-image: linear-gradient(to top left, rgba(0, 223, 0, 0.801), rgb(0, 173, 0));
    border-color: linear-gradient(to top left, rgb(0, 216, 0), rgb(0, 170, 0));
    border: 1px solid;
    height: 2.5rem;
    width: 6rem;
    font-size: 18px;
}

#finalizar:hover{
    height: 2.7rem;
    width: 6.2rem;
    font-size: 20px;
}

#visualizar{
    background-color: rgb(34, 93, 255);
    border: rgb(34, 93, 255) 1px solid;
    height: 2.5rem;
    width: 9rem;
    font-size: 16px;
}

#visualizar:hover{
    height: 2.7rem;
    width: 9.2rem;
    font-size: 17px;
}

.adicionar{
    margin-left: 1.8rem;
    margin-top: 0.5rem;
}

#adicionarB{
    background-image: linear-gradient(to top left, rgba(0, 223, 0, 0.801), rgb(0, 173, 0));
    border-color: linear-gradient(to top left, rgb(0, 216, 0), rgb(0, 170, 0));
    border: 1px solid;
    height: 3rem;
    width: 9rem;
    font-size: 23px;   
}

#adicionarB:hover{
    height: 3.2rem;
    width: 9.2rem;
    font-size: 24px;   
}

.tabela-info-td{
    color: black;
    font-size: 16px;
}

.msg1{
    margin-top: 0.5rem;
    margin-left: 1.7rem;
}

#msg1{
    color: rgb(2, 2, 2);
    font-weight: bolder;
    font-size: 48px;
}

.msg2{
    margin-top: 0.5rem;
    margin-left: 1.7rem;
}

#msg2{
    color: rgb(165, 0, 0); 
    font-size: 24px;
    text-decoration: underline;
}