@model Produtos
@{
    ViewBag.Title = "Edição De Produto";
    ViewBag.NomePagina = $"Editar Produto {@Model.Id_produto}";

}
<head>
    <link rel="stylesheet" href="~/css/produtos/update.css" />  
</head>
<body>
    <div class="tabela-titulo">
        <form asp-controller="Produtos" asp-action="Update" method="POST">
            <div class="form-group">
                <label for="Nome">Nome do Produto*</label>
                <input type="text" name="Nome" class="form-control" asp-for="Nome"/>
                <span asp-validation-for="Nome" style="color: black;"></span>
            </div>
            <div class="form-group">
                <label for="Categoria">Categoria*</label>
                <input type="text" name="categoria" class="form-control" asp-for="Categoria"/>
                <span asp-validation-for="Categoria" style="color: black;"></span>
            </div>

            <div class="form-group">
                <label for="Descricao">Descrição</label>
                <input type="text" name="Descricao" class="form-control" asp-for="Descricao"/>
                <span asp-validation-for="Descricao"></span>
            </div>
            <div class="form-group">
                <label for="Valor">Valor*</label>
                <input type="text" step="0.01" name="Valor" class="form-control" asp-for="Valor"/>
                <span asp-validation-for="Valor" style="color: black;"></span>
            </div>
            <div class="botoes">
                <button class="btn btn-primary" id="salvar">Salvar</button>
                <a href="/Produtos/Index" class="btn btn-primary" id="voltar">Voltar</a>
            </div>
        </form>
    </div>
</body>
