@model UsuariosLoginViewModel
@{
    ViewBag.Title = "Login - SAG";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/img/logoSag.png">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login</title>
</head>
<body id="img-background">

    <div class="login">
        <div id="campos-login">
                <div class="sushi-logo">
                    <img src="~/img/SushiJuLogo.png" alt="sushilogo">
                </div>
                <div>
                    <img src="~/img/LogoSag.png" alt="LogoSag" id="logo-sag">
                </div>
                <div>
                    <img src="~/img/LoginUserIcon.png" alt="UserIcon" id="user-icon">
                </div>
                <div>
                    <img src="~/img/LoginUserSenha.png" alt="UserSenha" id="senha-icon">
                </div>
            <div id="logo-tela-login">
                <div class="texto-top">
                    <h3>Sistema Administrativo <br>Gastronômico</h3>
                </div>
                
                @if(ViewBag.Message != null) {
                    <p class="alert alert-danger alert-message">@ViewBag.Message</p>
                }
            </div>
            <div id="formulario-login">
                <form asp-controller="Usuario" asp-action="Login" method="POST">
                    <label>Usuário:</label>
                    <input type="text" name="login" id="login" asp-for="Login">
                    <span asp-validation-for="Login" class="validacao"></span>

                    <label>Senha:</label>
                    <input type="password" name="senha" id="senha" asp-for="Senha">
                    <span asp-validation-for="Senha" class="validacao"></span>
                    <br>
                    <div  style="margin-top: -1rem">
                        <a href="#" style="font-size: 17px">Esqueceu a senha?</a>
                    </div>
                   
                    <br>
                    <div id="botao-pos">
                        <button id="botao-entrar">Entrar</button>
                    </div>
                    
                </form>
            </div>
            <div class="icons">

            </div>
        </div>
    </div>
</body>
</html>