@{
    ViewBag.Title = "Login";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container-form">
    <div class="labels-input">
        <label for="login">Login</label>
        <input type="text" id="login" name="login"placeholder="Login">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha"placeholder="Senha">
    </div>
</div>
    @* <form asp-controller="Usuario" asp-action="Login" method="POST">
        <label for="login">Usuário</label>
        <input type="text" id="login" name="login" placeholder="Digite o usuário">
        <label for="senha">Senha</label>
        <input type="text" id="senha" name="senha" placeholder="Digite a senha">
        <a href="#" class="pE">Esqueceu a senha?</a>
        <button type="submit" class="buttonlogin">Entrar</button>
        </a>
    </form> *@
